header, main, form, .App {
  display:flex;
} 

.App, header, aside {
  justify-content:center;
}

.App, header, aside {
  align-items:center;
}

.App, aside{
flex-direction: column; 
}

.App {
  width: 100vw;
}

header {
  height:75px;
  width:60vw;
  background-color: #70CF97;

  color:rgb(255, 255, 255);

  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 35vw;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.377);
}

h1 {
  font-size:xx-large;
  font-weight: 800;
}

main {
  width:95vw;
}

form {
  width:60vw;
  flex-wrap: wrap;
  align-content:space-around;
  justify-content: flex-start;
  padding: 20px;
  background-color: #E1F5EA;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;

}
label, input, select,.searchButton{
  font-size:14pt;
  margin-bottom: 5px;
  margin-top:5px;
  margin-left:10px;
}
label {
  margin-left:25px;
}
.searchButton {
  font-size:13pt;
  height:35px;
}
.figureBox {
  width: 60vw;
  display:inline-flex;
  flex-wrap:wrap;
  align-items:space-between;
  justify-content:space-between;
  padding: 20px;
  background-color: #E1F5EA;
}
figure {
  height:325px;
  width:236px;
  text-align: center;
  margin:2px;
  border: solid gray thin;
}
.figs {
  float:none; 
}
aside {
  position: fixed;
  width: 33.5vw;
  height:95vh;
  right:2vw;
  top:15px;
  border:solid 5pt #219653;
  display:inline-flex; 
  padding-bottom:15px;
}
section {
  height:21vh;
  width:30vw;
  background-color: #E1F5EA;
  margin-top: 15px;
  overflow:scroll;
}
h2 {
  width: 30vw;
  height:20pt;
  font-size:13pt;
  font-weight: normal;
  position:fixed;
  text-align: center;
  background-color: #E1F5EA;
  margin:0px;
  padding: 5px;
}
ol, li {
  text-align: left;
}
img {
  margin-top: 5px;
  float:left;
}

button {
  font-size: 10pt;
}

/* Pseudo Classes */
button:hover {
  background-color:  #219653;
  color: white;
}
img:hover {
  border: solid thick #219653;
}
li>img:hover {
  border:solid thick red; 
}